<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homep</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'about' %}">About</a>


<br>
<h1>Welcome to homepage</h1>
<br>
<button class="btn btn-primary">Gallery</button>
<button class="btn btn-warning">About</button>
<button class="btn btn-success">Contact</button>
<button class="btn btn-info"> Portfolio</button>
<button class="btn btn-danger">Services</button>
<button class="btn btn-outline-dark">Products</button>

</body>
</html>